.create-community-page {
  &__flex-item {
    padding: 0 !important;
    max-width: 130px !important;
  }

  &__header {
    font-size: 1.1rem !important;

    &--desktop {
      margin-top: 5rem;
    }
  }

  &__image {
    background-image: url('../../../assets/images/tiles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 92vh;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    padding-left: 1rem !important;
  }

  &__input {
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__icon {
    color: var(--color-brand-red100);
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    transform: scale(0);
    transition: transform 0.4 ease;

    &--visible {
      transform: scale(1);
    }
  }

  &__text {
    color: var(--color-brand-blue100);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    border: none !important;
    height: auto !important;
    padding-inline-end: unset !important;
    padding-inline-start: unset !important;
  }

  &__radio {
    align-self: flex-start;
  }

  .radio-paragraph {
    position: relative;
    top: 0.15rem;
  }

  .extra-margin-top {
    margin-top: 2rem;
  }

  &__inner {
    align-self: flex-end;
  }
}
