.warn-ad {
  &__header {
    font-size: 0.9rem;
  }

  &__body {
    padding-bottom: 0;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  &__inner {
    align-self: end;
  }
}
