:root {
  --color-brand-black100: #1c1c1c;
  --color-brand-black200: #030303;
  --color-brand-blue100: #0079d3;
  --color-brand-blue200: #5a75cc;
  --color-brand-Blue300: #33a8ff;
  --color-brand-gold500: #ddbd37;
  --color-brand-grey100: #878a8c;
  --color-brand-grey200: #1a1a1b;
  --color-brand-orange100: #ff4500;
  --color-brand-orange500: #cc3700;
  --color-brand-red100: #f00;
  --color-brand-red200: #ea0027;
  --color-brand-red300: #ff585b;
}
