// since css variables don't work with media queries
$breakpoint-xs: 0;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

:root {
  --color-brand-black100: #1c1c1c;
  --color-brand-black200: #030303;
  --color-brand-blue100: #0079d3;
  --color-brand-blue200: #5a75cc;
  --color-brand-blue300: #33a8ff;
  --color-brand-blue500: #1d2535;
  --color-brand-gold500: #ddbd37;
  --color-brand-green100: #75d377;
  --color-brand-grey100: rgba(26, 26, 27, 0.1);
  --color-brand-grey200: #878a8c;
  --color-brand-grey300: #1a1a1b;
  --color-brand-grey400: #7c7c7c;
  --color-brand-grey500: #dae0e6;
  --color-brand-orange100: #ff4500;
  --color-brand-orange500: #cc3700;
  --color-brand-red100: #f00;
  --color-brand-red200: #ea0027;
  --color-brand-red300: #ff585b;
  --color-brand-white: #fff;
}
