@import '../../../sass/mixins';
@import '../../../sass/variables';

.create-post-page {
  overflow: hidden;

  &__container {
    display: flex;
    background-color: var(--color-brand-grey500);
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  &__main-content {
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0;
    max-width: 740px;
    width: 100%;

    @include media-query($breakpoint-md) {
      margin: 0.3rem 0;
    }
  }

  &__button.snui-button {
    border-radius: 15px !important;
    box-shadow: unset;
    height: 30px;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding: 15px 20px;
    margin: 0 0.2rem;
  }

  &__aside {
    margin: 0.3rem 0 1.3rem 1.5rem;
    width: 340px;
  }

  &__about-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;
  }

  &__container-wrapper {
    margin: 1rem 0;
  }

  &__wrapper-container {
    background-color: var(--color-brand-white);
    padding: 0.5rem 0.8rem;
  }
}

// ------- list --------------
.list {
  line-height: 1.2rem;
  list-style: decimal inside;

  &__item {
    padding: 0.7rem 0.3rem;

    &::marker {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &__paragraph {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 700;
  }
}

// ------- list --------------

// -------post card--------------
.post-card {
  background-color: var(--color-brand-white);
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 0.5rem 0;

  &__inner {
    width: 40px;
    justify-content: center;
  }

  @include media-query($breakpoint-md) {
    margin: 0.15rem 0;
  }
}
// -------post card--------------

// ------- community options accordion --------------
.community-options-accordion {
  &__panel {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// TODO move to sass utils file
.align-items-center {
  align-items: center;
}

.border-bottom-white {
  border-bottom: 1px solid var(--color-brand-white);
}

.border-none {
  border: none !important;
}

.flex-column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-justify-between {
  justify-content: space-between !important;
}

.flex-grow-1 {
  flex-grow: 1;
}
