.navbar-desktop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__button {
    border: none;
    border-radius: 4px !important;
    box-shadow: unset;
    height: 30px !important;
    padding-inline-start: unset;
    padding-inline-end: unset;
    margin: 0 0.2rem;
    width: 30px !important;
  }

  &__coins-button {
    border: 1px solid var(--color-brand-gold500);
    box-shadow: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding: 0 1rem;
    margin: 0 0.5rem 0 0.2rem;
  }
}
