.user-menu {
  .snui-button.user-menu__button {
    border: none;
    box-shadow: unset;
    padding-inline-end: unset;
    padding-inline-start: unset;
    padding: 0.5rem 1rem;

    &--loggedin {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__group {
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  &__item {
    font-weight: 400;
    height: 2.5rem;
  }

  &__inner {
    align-items: center;
    display: flex;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-right: 0.5rem;
  }
}

.user-menu__item.space-between {
  justify-content: space-between !important;
}
